<% content_for :admin_pages do %>

<div class="article_full">
<div class="gray_box">
	
	<div class="header" id="full_page">
		<h1>Edit Article</h1>	
	</div>

	
	<div class="content">
	
	<% form_for :article, :url => article_url(@article), :html => {:method => :put, :multipart => true} do |f| %>
		<%= f.error_messages %>
		<%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>

	</div>
	<div class="footer" id="full"></div>
</div>	
</div>
<% end %>