<%# content_for :admin_pages do %>
<div class="blue">
<div class="main_content">
	
	<h1>New Article</h1>	
	
		
	<% form_for @article, :html => {:multipart => true} do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>
	
</div>
</div>
<%# end %>