<div class="gray_border">

	<h1>New Article</h1>
	
	<div class="article">
	
	<% form_for @article, :html => {:multipart => true} do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
	<% end %>

	</div>
</div>