ul#nav { bottom:0; }

/*#logo { height:105px; }

.main { margin-left:10px; }

.gray_box .content { height:250px;padding:5px;height:auto; }
.gray_box .header#third_column h1 { width:270px; }
.gray_box .footer { width:620px; }
.gray_box #boxes.footer{ width:300px;height:auto; }

.right_column { width:280px;margin-right:0px; }
.right_column .gray_box .header { width:296px; }
.right_column .gray_box .content { width:285px;height:auto; }
.right_column .gray_box .footer { width:290px;padding-bottom:10px; }


#featured ul li div.right p { top:35%;position:relative; }

.developer { width:600px;clear:both;position:relative;height:auto; }
.developer h3 { clear:both; }
.developer img.logo { position:relative; }*/

.developers ul li.developer {margin-right:30px;}

