#logo { height:105px; }

.main { margin-left:10px; }

.right_column { width:280px;margin-right:0px; }
.right_column .gray_box .header { width:296px; }
.right_column .gray_box .content { width:285px; }
.right_column .gray_box .footer { width:290px; }

.gray_box .content { height:250px;padding:5px; }
.gray_box .header#third_column h1 { width:270px; }

#featured ul li div.right p { top:35%;position:relative; }



