#s3slider {
   width: 612px; /*important to be same as image width */
   height: 275px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
  margin-bottom:20px;
}

#s3sliderContent {
   width: 612px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage img {
	height: 275px;
	width: 612px;
}
	
.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 15px Arial, Helvetica, sans-serif;
   font-weight:normal;
   padding: 10px 13px;
   width: 612px;
   background-color: #000; /* #000 */
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: 0;
} 

/* right column slider */

#right_slider {
   width: 290px; /*important to be same as image width */
   height: 300px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
   margin-bottom:20px;
   border:1px solid red;
}

#right_sliderContent {
   width: 290px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.right_sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.right_sliderImage img {
	height: 300px;
	width:290px;
}

.right_sliderImage span {
   position: absolute; /* important */
   left: 0;
   font: 15px Arial, Helvetica, sans-serif;
   font-weight:normal;
   padding: 10px 13px;
   width: 290px;
   background-color: #000000; /* #000 */
   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
   opacity: 0.7; /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   bottom: 0;
}
   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
