<% content_for :admin_pages do %>
	<div class="users">
		<div class="gray_box">
			<div class="header" id="full_page">
				<h1>Edit User</h1>	
			</div>
			<div class="content">		

				<% form_for :user, :url => user_url(@user), :html => {:method => :put} do |f| %>
					<%= f.error_messages %>
					<%= render :partial => 'form', :locals => {:f => f} %>
					<br>
					<p><%= f.submit 'Save' %></p>
				<% end %>
			</div>	
			<div class="footer" id="full"></div>
		</div>
	</div>
	<br>	
<% end %>