<% content_for :property_listings do %>

<div class="properties gray_border">

<h1>Edit Property</h1>

<div class="property_form">

<% form_for :property, :url => property_url(@property), :html => {:method => :put, :multipart => true} do |f| %>
	<%= f.error_messages %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

</div>
</div>

<br>

<% end %>