<div class="gray_box">
	
	<div class="header">
		<h1>Search Results</h1>
	</div>
	
	<div class="content">
		<%= render :partial => 'properties/datatable' %>	
	</div>
	
	<div class="footer"></div>
	
</div>

<br>