<script type="text/javascript">
	jQuery(document).ready(function(){
		$('#right_slider').s3Slider({
			timeOut: 6000
		});
	});
</script>

<div id="right_slider">
	<ul id="right_sliderContent">
		<% @perspectives.each do |p| %>
		<li class="right_sliderImage">
			<%= link_to (image_tag( p.perspective.url, :height => "300px", :width => "290px"), "#{eval(p.link)}") %>
			<span><%= p.caption %></span>
		</li>
		<% end %>
		<div class="clear right_sliderImage"></div>
	</ul>
</div>