<%= render :partial => 'slider' %>

<div id="featured"  class="gray_border">
	<h1>Featured Properties</h1>
	<ul>
		<% @properties.each do |p| %>
		<li>
			<h3><%= link_to p.name, property_url(p) %></h3>
			<%= image_tag '68yorkville_regencyh.jpg' %>
			<p><%= p.description %></p>
		</li>
		<% end %>
		<div class="clear"></div>
	</ul>
</div>