<h1>CebuCondoListings Inquiry</h1>

<p>Name: <%= @message.name %></p>

<p>Email Address: <%= @message.email %></p>

<p>Contact Number: <%= @message.contact_no %></p>

<p>Subject: <%= @message.subject %></p>

<p>Message: <%= @message.reason %><br><%= @message.message %></p>