<div class="clear page_footer">
	<div>
		<ul>
			<li><%= link_to 'Terms and Conditions' %></li>
			<li><%= link_to 'Privacy Policy' %></li>
			<li id="last"><%= link_to 'Disclaimer' %></li>
		</ul>
		
		<p>Call us at ###-#### | Email <span>inquiries@cebucondolistings.com</span></p>
		<p>www.cebucondolistings.com - All Content Copyright 2010</p>
	</div>
</div>	
