<div class="page_footer">
	<div class="footer_content">
		<!--ul>
			<li><%= link_to 'Terms and Conditions' %></li>
			<li><%= link_to 'Privacy Policy' %></li>
			<li id="last"><%= link_to 'Disclaimer' %></li>
		</ul-->
		<p>
			<i>The information contained in this website is for reference only. While every reasonable care has been taken in the preparation of this site, the owner or its representative and agents shall not be held responsible for any inaccuracies. Nothing contained herein shall constitute or be construed as an offer, representation or warranty whether expressly or implicitly on the pact of the owner or its representatives or agents. Interested person are advised to make their own inquiries and satisfy themselves in all respects.</i>
			<br><br>
		</p>
		<hr/>
		<p>
		Call us at (+63)917.546.0800 | Email us at <span style="color:#fff;"><%= mail_to "inquiries@cebucondolistings.com" %></span>
		</p>
		<p>www.cebucondolistings.com - All Content Copyright 2011</p>
	</div>
</div>	
